MokebMangerDesktopApp/.vs
MokebMangerDesktopApp/MokebMangerDesktopApp/bin
MokebMangerDesktopApp/MokebMangerDesktopApp/obj
release_v1/angularapp/.nx
release_v1/angularapp/.vscode
MokebMangerDesktopApp/MokebMangerDesktopApp/obj
MokebMangerDesktopApp/MokebMangerDesktopApp/bin
MokebMangerDesktopApp/MokebMangerDesktopApp/bin/Debug
MokebMangerDesktopApp/MokebMangerDesktopApp/obj/Debug
release_v1/angularapp/.nx
release_v1/angularapp/.vscode
MokebMangerDesktopApp/MokebMangerDesktopApp/bin
MokebMangerDesktopApp/MokebMangerDesktopApp/obj
release_v1/angularapp/.nx
release_v1/angularapp/.vscode
release_v1/dotnetapp/Logs
